.ComplaintLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ComplaintLink p {
    font-weight: lighter;
    font-size: 15px;
}

.ComplaintButton {
    font-size: 20px;
    color: white;
    text-decoration: white;
    padding-bottom: 40px;
}